.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
  background: #555555;
}

#mp-card > * {
  margin: auto;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: #555555;
}